{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings for {{ category }}</h2>
    {% if not listings %}
        <p>No Listings Found</p>
    {% else %}
        {% for listing in listings %}
            <div class="row">
                <div class="col-3">
                    <img src="{{ listing.imageURL }}" alt = "No image" width="300px" height="auto">
                </div>
                <div class="col-4">
                    <a href="{% url 'listing' id=listing.id %}"><h2>{{ listing.title }}</h2></a>
                    <h4><strong>Price:</strong> ${{ listing.price }}</h4>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}