{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'filter' %}" method="POST" class="my-2">
        {% csrf_token %} 
        <select name="category">
            {% for category in categories %} 
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Filter</button>
    </form>
    {% if not listings %}
        <p>No Listings Found</p>
    {% else %}
        {% for listing in listings %}
            <div class="row my-3">
                <div class="col-3">
                    <img src="{{ listing.imageURL }}" alt = "No image" width="300px" height="200px">
                </div>
                <div class="col-4">
                    <a href="{% url 'listing' id=listing.id %}"><h2>{{ listing.title }}</h2></a>
                    <h4><strong>Price:</strong> ${{ listing.price }}</h4>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}